*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #69B794 ;
    
    font-family: 'Poppins', sans-serif;
    
}

.container-fluid{
    background-color: #FBF595;
    width: 70%;
    border-radius: 20px;

    
    
}

.agregarTarea{
    text-decoration: none;
    color: black;
}

.agregarTarea:hover{
    text-decoration: underline;
    color: black;
}