*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #69B794 ;
    
    font-family: 'Poppins', sans-serif;
    
}

.container-fluid{
    min-width: 300px;
    background-color: #FBF595;
    width: 70%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);    
    
}

.caja-notas{
    width: 100%;

    grid-column: 2/4;
}
.agregarTarea{
    text-decoration: none;
    color: black;
}

.agregarTarea:hover{
    text-decoration: underline;
    color: black;
}

p:hover{
    text-decoration: line-through;
    
}