{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="{%  static  'css/style.css' now "U" %}">
    <title>ToDo App</title>
</head>
<body>
    
    <div class="container-fluid mb-5 mt-5">
        <div class="caja-notas">
        <div class="row">
            <div class="col gif">
                
                <iframe src="https://giphy.com/embed/dWOKEQ5ewh94RJLemj" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            
            </div>
            
            <div class="col-9" >
                <h1><b>ToDo List</b></h1>
                
                     
                    <form class="input-group input-group-md mb-3 w-80" action="{%url 'task-detail' %}" method="GET">
                        {% csrf_token %}
                        <label for="content_text" hidden>Buscar tarea</label>
                        <input type="text" class="form-control outline-secondary" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                        placeholder="Busca tus notas" name="content_text" autocomplete="off">
                    
                        <button type="submit"  class="btn btn-secondary ">🔍</button> 
                        <a class="btn btn-dark" href="/todo">⬅</a> 
                  
                </form>

                  <div class="row">
                  <form action="{% url 'task-create' %}" method="POST" class="row">
                        {% csrf_token %} 
                        <div class="col-auto">
                            <label for="content_text" class="visually-hidden">Ingresa una nota</label>
                            <input type="text" id="content_text" name="content_text"
                            class="form-control" placeholder="Que vas a hacer hoy?"
                            autocomplete="off">
                          </div>
                        
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-3">Agregar</button>
                        </div>
                    </div>
                </form>
            
                <div class="row" id="tareas">
                    
                    {%if tasks%}
                        {% for task in tasks %}
                        <div class="card mb-2" id="{{task.id}}">
                            <div class="card-body ">
                        
                        <a class="tarea" href="{% url 'task-complete' task.id %}">
                        {%if task.completed%}
                            <strike class="completado">{{task.content_text}}
                                <br>
                                Fecha: {{task.pub_date}} </strike>

                        {%else%}
                            {{task.content_text}}
                            <br>
                            
                            Fecha: {{task.pub_date}}
                        {%endif%}
                        <div class="float-right" >
                        <a type="button" class="btn btn-secondary "
                        
                        id="{{task.id}}" onclick="openModal(this)">✏️</a>    
                        <a type="button" href="{% url 'task-delete' task.id %}" class="btn btn-danger ">X</a>
                    </div>
                </a>
            
        </div>
        </div> 
                        {% endfor %}
                    {%else%}
                        <p>No hay tareas</p>
                    {%endif%} 
                </div>
            </div>
            </div>
        </div>
        
        
    </div>
    </div>
    <div class="bg-modal">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Actualizar tarea
            </h5>
        </div>
        <div class="mb-3">
            <label for="task_update" class="form-label" >Ingrese la correccion</label>
            <input type="text" class="form-control" id="task_update" aria-describedby="emailHelp">
            <a type="submit" class="btn btn-primary" onclick="updateTask(this)">Actualizar</a>
            <a type="submit" class="btn btn-danger" onclick="closeModal()">Cancelar</a>
          </div>
          <div id="mensaje"></div>
        <div class="close" onclick="closeModal()"> + </div>
        </di>
        </div>
</body>
<script>
        function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
        
        function openModal(elemento) {
            id_nota = elemento.id
            modal = document.getElementsByClassName("bg-modal")[0]
            modal.style.display ="flex";
            modal.id=id_nota
            //console.log(modal.id)
    };



    function closeModal() {
        document.querySelector(".bg-modal").style.display ="none";
        window.location.reload()
    };

    function updateTask(elemento){
        console.log('actualizado')
        let id_tarea = elemento.parentElement.parentElement.parentElement.id
        console.log(id_tarea)
        let nuevo_texto = elemento.parentElement.getElementsByClassName("form-control")[0].value
        let data_a_enviar = {
            
            "content_text": nuevo_texto
        }
        console.log(JSON.stringify(data_a_enviar))
        
        fetch(`http://localhost:8000/api/task-update/${id_tarea}/`,{
            
            method: 'POST',      
            headers: {
                'X-CSRFToken':getCookie('csrftoken'),
                'Content-Type':'application/json',
                'Accept': 'application/json'

        },
        body:JSON.stringify(data_a_enviar)
            
        }).then(response=>{
            if (response.status ===200){
                let mensaje_correcto = document.createElement("div")
                mensaje_correcto.classList.add('alert')
                mensaje_correcto.classList.add('alert-success')
                mensaje_correcto.innerText = "Actualizacion realizada"
                document.getElementById('mensaje').appendChild(mensaje_correcto)
            }
        }).catch(err=>{
            let mensaje_incorrecto = document.createElement("div")
                mensaje_correcto.classList.add('alert')
                mensaje_correcto.classList.add('alert-warning')
                mensaje_correcto.innerText = "No se pudo actualizar la nota"
                document.getElementById('mensaje').appendChild(mensaje_incorrecto)
        })

    }
</script>
</html>